<!--
============================================
 Title: about.component.html
 Author: Andres Macias
 Date:   01/27/23
 Description: contains code for the about component.
===========================================
-->

<div fxLayout="column" class="main-welcome">
  <div fxFlex>
    <h1 class="title">
      A little about us here at Nodebucket. <br />
      <span class="subtitle">
        Nodebucket, put your life in the bucket.
      </span>
    </h1>
  </div>

  <div fxFlex>
    <div class="task-container" fxLayout="row">
      <p class="about-us-text">Nodebucket was founded in 2007 as way to help people manage their tasks. From high up in
        the mountains, the
        founders, Thor "that's his name" Odin son and Tom "normal guy" smith worked tirelessness through the harsh
        winter months on the peak of really high mountain to make sense of the endless tasks that stream to the lives of
        everyday people trying to solve some of the world's hardest problems. Two years later the two found themselves
        in need of help from a tech guy and soon were joined by Sam "the tech guy" fox about 2 years before launch.
        Sam is a man of many talents and is responsible for all of the software's capabilities.</p>
      <figure>
        <img src="/assets/images/about/massimiliano-morosinotto-3i5PHVp1Fkw-unsplash Large.jpeg" alt="mountain image"
          width="300" height="">
        <figcaption> Photo by <a
            href="https://unsplash.com/@therawhunter?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Massimiliano
            Morosinotto</a>on<a
            href="https://unsplash.com/images/nature/mountain?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
        </figcaption>
      </figure>
      <p class="about-us-text">What started as a placeholder for the application, eventually became the name. As the application was being built the creators said it so many times that the name just stuck. There is speculation that the name originated from a game of cards the developers were playing in the office. The players found a bucket and would take turns throwing playing cards in the bucket to determine which piece of the application would be built first. Of course, the developers deny this as they never mess around when they have down time. Others rumors say the name came from one of the developers children who was playing with a bucket and shovel in the playground when he heard his parent talking about the application at daycare. However, we will never be sure as to the origin of the name, which will forever be a mystery that will never be uncovered. </p>
      <figure>
        <img src="/assets/images/about/francesco-ungaro-VSwlS0PpWwc-unsplash Large.jpeg" alt="bucket with plastic"
          width="300">
        <figcaption>Photo by <a
            href="https://unsplash.com/de/@francesco_ungaro?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Francesco
            Ungaro</a> on <a
            href="https://unsplash.com/s/photos/bucket?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
        </figcaption>
      </figure>
    </div>
  </div>
</div>
