.main-welcome {
  margin-top: 30px;
}

.title {
  text-align: center;
  font-weight: lighter;
}

.subtitle {
  text-align: center;
  font-size: 14px;
}

.task-container {
  width: 35%;
  margin: 0 auto;
}

.width-100 {
  width: 100%;
}

.task-column {
  border: 1px solid #ccc;
  min-height: 68px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.task-card {
  cursor: move;
  padding: 20px 10px;
  border-bottom: 1px solid #ccc;
  min-height: 68px;
  font-size: 14px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}
