<!--
============================================
 Title: home.component.html
 Author: Andres Macias
 Date:   01/15/23
 Description: contains code for the home component. Task input, and tasklist containers
===========================================
-->

<div fxLayout="column" class="main-welcome">
  <div fxFlex>
  <h1 class="title">
    Welcome to WEB 450's - nodebucket Project <br />
    <span class="subtitle">
      Pay close attention to the requirements, double and triple check the files for code attribution, and do not wait
      until the last minute to begin working on your tasks.
    </span>
  </h1>
</div>

<div fxFlex>
  <div class="task-container mat-elevation-z4" fxLayout="column">
    <mat-card>
      <form [formGroup]="taskForm" (ngSubmit)="createTask(); taskForm.reset();">
        <mat-card-content>
          <mat-form-field appearance="fill" class="w-100">
            <input type="text" matInput name="task" formControlName="task" placeholder="Enter a task name...">
            <button type="submit" [disabled]="!taskForm.valid" mat-icon-button matSuffix>
              <mat-icon color="primary" style="width: 36px; height: 36px; font-size: 36px;">add_circle</mat-icon>
            </button>
          </mat-form-field>

          <mat-error *ngIf="taskForm.controls['task'].hasError('required') && taskForm.controls['task'].touched">Task is
            a required field</mat-error>

          <mat-error *ngIf="taskForm.controls['task'].hasError('minLength') && taskForm.controls['task'].touched">Field
            must be at least 3 characters in length.</mat-error>

          <mat-error *ngIf="taskForm.controls['task'].hasError('maxLength') && taskForm.controls['task'].touched">Field
            cannot exceed 36 characters in length.</mat-error>
        </mat-card-content>
      </form>
    </mat-card>
  </div>
</div>

<!-- list of tasks -->
<div fxFlex>
  <div fxLayout="row" fxLayoutGap="15px" class="task-container" style="margin-top: 20px">

    <!-- todo column -->
    <div fxFlex>
      <mat-card class="mat-elevation-z0">
        <mat-card-title>Todo</mat-card-title>
        <mat-card-content>
          <div
          fxLayout="column"
          fxLayoutGroup="10px"
          class="task-column"
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="todo"
          [cdkDropListConnectedTo]="[doneList]"
          (cdkDropListDropped)="drop($event)">

            <div *ngFor="let item of todo" cdkDrag>

              <mat-card class="mat-elevation-z0 task-card">
                <mat-card-content>
                  <div fxLayout="row">
                    <!-- text value -->
                    <div fxFlex>
                      {{item.text}}
                    </div>

                    <!-- code to delete task -->
                    <div fxFlex fxLayoutAlign="end" style="margin-top: -7px;">
                      <button mat-icon-button (click)="deleteTask(item._id)">
                        <mat-icon color="warn">delete</mat-icon>
                      </button>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>


    <!-- done column -->
    <div fxFlex>
      <mat-card class="mat-elevation-z0">
        <mat-card-title>Done</mat-card-title>
        <mat-card-content>
          <div
            fxLayout="column"
            fxLayoutGroup="10px"
            class="task-column"
            cdkDropList
            #doneList="cdkDropList"
            [cdkDropListData]="done"
            [cdkDropListConnectedTo]="[todoList]"
            (cdkDropListDropped)="drop($event)">

            <div *ngFor="let item of done" cdkDrag>

              <mat-card class="mat-elevation-z0 task-card">
                <div fxLayout="row">
                  <div fxFlex>
                    {{item.text}}
                  </div>

                  <!-- code to delete task -->
                  <div fxFlex fxLayoutAlign="end" style="margin-top: -7px;">
                    <button mat-icon-button (click)="deleteTask(item._id)">
                      <mat-icon color="warn">delete</mat-icon>
                    </button>
                  </div>
                </div>
              </mat-card>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
  </div>
</div>
</div>
